.truck-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: top;
  margin: 4vh 27.5vw 3vh 27.5vw;
  height: fit-content;
  width: 45vw;
}

.icon {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.star-icon {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.image {
  height: 175px;
  width: 250px;
  margin: 0px 10px 0px 10px;
  cursor: pointer;
}

.status-icon-closed {
  position: absolute;
  z-index: 1;
  height: 12px;
  width: 12px;
  margin: 33px 0px 0px 312px;
  border: none;
  border-radius: 25px;
  background-color: rgb(41, 41, 41);;
}

.status-icon-open {
  position: absolute;
  z-index: 1;
  height: 12px;
  width: 12px;
  margin: 33px 0px 0px 312px;
  border: none;
  border-radius: 25px;
  background-color: rgb(4, 226, 89);;
}

.card-details-container  {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
}

.details-status-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: left;
  margin: 0px 0px 2px 20px;
}

.distance {
  margin: 0px 0px 2px 0px;
  color: #5D5D5D;
  font-size: 1.15em;
}

.status {
  margin: 0px;
  font-weight: 600;
}

.pin  {
  margin-top: 2.5px;
  margin-right: 5px;
  margin-left: 5px;
  height: 15px;
  width: 15px;
}

.status, .location {
  color: #5D5D5D;
  margin: 0px;
  font-size: 1em;
}

.name {
  margin: 0px 0px 2px 0px;
  font-size: 1.25em;
  font-weight: 600;
}

.tags  {
  margin: 0px 0px 53px 0px;
  color: #5D5D5D;
  font-size: .9em;
}

.votes-container  {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.upvotes, .downvotes  {
  margin: 0px 5px 0px 5px;
}