.status-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 10vh 30vw 0vh 30vw;
  padding-bottom: 5vh;
  width: fit-content;
  white-space: nowrap;
}

.status-header {
  margin: 0;
  font-size: 3.25em;
  font-weight: 700;
}

.vendor-name  {
  margin: 2vh 0vw 2vh 0vw;
  font-size: 1.5em;
  font-weight: 700;
}

.status-toggle-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.75vw;
  margin: 0vh 0vw 2vh 0vw;
}

.closed, .open {
  color: #2f2f2f;
  font-size: .8em;
}

.toggle-switch {
  position: relative;
  width: 75px;
  display: inline-block;
  text-align: left;
}

.checkbox {
  display: none;
}

.label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0 solid #bbb;
  border-radius: 20px;
}

.inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.inner:before, .inner:after {
  float: left;
  width: 50%;
  height: 36px;
  padding: 0;
  line-height: 36px;
  color: #fff;
  font-weight: bold;
  box-sizing: border-box;
}

.inner:before {
  content: "";
  padding-left: 10px;
  background-color: #16e658;
  color: #fff;
}

.inner:after {
  content: "";
  padding-right: 10px;
  background-color: #bbb;
  color: #fff;
  text-align: right;
}

.switch {
  display: block;
  width: 24px;
  margin: 5px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 40px;
  border: 0 solid #bbb;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}

.checkbox:checked + .label .inner {
  margin-left: 0;
}

.checkbox:checked + .label .switch {
  right: 0px;
}

.location-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 45vw;
}

.status-pin {
  height: 50px;
  width: 50px;
}

.status-location {
  width: 70%;
  height: 2.8rem;
  background: #ffffff;
  outline: none;
  border: 2px #767676 solid;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
  transition: all .3s ease-in-out;
}

#statusLocation:focus {
  width: 83%;
  transition: all .3s ease-in-out;
}

#statusLocation:hover {
  width: 83%;
  transition: all .3s ease-in-out;
}

@media screen and (max-width: 50em) {
  .status-container {
    margin: 10vh 21vw 0vh 21vw;
  }

  .status-header {
    font-size: 2.75em;
  }

  .location-container {
    width: 55vw;
  }

  .status-location {
    width: 75%;
  }

  #statusLocation:focus {
    width: 78%;
  }
  
  #statusLocation:hover {
    width: 78%;
  }
}


@media screen and (max-width: 35em) {
  .status-container {
    margin: 10vh 10vw 0vh 10vw;
  }

  .status-header {
    font-size: 2.25em;
  }

  .location-container {
    width: 65vw;
  }

  .status-location {
    width: 68%;
  }

  #statusLocation:focus {
    width: 71%;
  }
  
  #statusLocation:hover {
    width: 71%;
  }
}