.details-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
  gap: 2.5vw;
  margin: 5% 12% 5% 12%;
  height: fit-content;
  width: fit-content;
  white-space: nowrap;
}

.left-side  {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: top;
  margin: 0vh 0vw 0vh 0vw;
}

.details-star-icon {
  height: 35px;
  width: 35px;
  margin: 170px 0px 0px 0px;
  cursor: pointer;
}

.details-vendor {
  margin: 0vh 0vw 0vh 1vw;
}

.details-name {
  font-size: 2.75em;
  margin: 0px 0px 2px 0px;
}

.details-tags {
  margin: 0px 0px 2px 0px;
  color: #5D5D5D;
  font-size: .9em;
}

.wait-time {
  margin-top: 0px;
  color: #5D5D5D;
}

.details-image {
  height: 275px;
  width: 415px;
  margin: 0px 0px 0px 0px;
  cursor: pointer;
}

.right-side {
  margin: 22vh 0vw 0vh 0vw;
  width: 500px;
}

.menu-container {
  margin: 3vh 0vw 0vh 0vw;
  height: 225px;
  width: 100%;
  border: 1px black solid;
}

.back-btn {
  margin: 53vh 0vw 0vh 0vw;
  height: 30px;
  width: 90px;
  background: #ffffff;
  color: #000000;
  border: 1px #767676 solid;
  border-radius: 25px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.back-btn:hover {
  width: 100px;
  transition: all .3s ease-in-out;
}

@media screen and (max-width: 50em) {
  .details-name {
    font-size: 1.75em;
    margin: 0px 0px 2px 0px;
  }

  .details-container {
    flex-direction: column;
    justify-content: center;
    align-items: top;
    margin: 0% 12% 15% 12%;
  }

  .right-side {
    margin: 0% 0% 10% 8.5%;
    width: 91.5%;
  }

  .details-star-icon {
    margin: 150px 0px 0px 0px;
  }
}

@media screen and (max-width: 35em) {
  .details-name {
    font-size: 1.25em;
    margin: 0px 0px 2px 0px;
  }

  .details-container {
    flex-direction: column;
    justify-content: center;
    align-items: top;
    margin: 0% 2.5% 15% 2.5%;
  }

  .right-side {
    margin: 0% 0% 10% 8.5%;
    width: 91.5%;
  }

  .details-star-icon {
    margin: 140px 0px 0px 0px;
  }
}

