.details-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2.5vw;
  padding-top: 9%;
  height: fit-content;
  width: 92vw;
}

.details-left-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: left;
  margin-bottom: 2.25%;
  white-space: nowrap;
  height: fit-content;
  width: fit-content;
} 

.details-vendor {
  margin: 0vh 0vw 0vh 1vw;
}

.details-name {
  font-size: 2.25em;
  margin: 0px 0px 2px 5px;
}

.details-tags {
  margin: 5px 0px 25px 7px;
  color: #5D5D5D;
  font-size: .9em;
}

.details-image {
  height: 275px;
  width: 415px;
  margin: 0px 0px 0px 7px;
  cursor: pointer;
}

.details-middle-container {
  display: flex; 
  flex-direction: column; 
  align-items: flex-start; 
  margin-top: 9%;
}

.menu-container{
  font-size: .9em;
}

.details-right-container {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 3.25%;
}

.back-btn {
  height: 30px;
  width: 90px;
  background: #ffffff;
  color: #000000;
  border: 1px #767676 solid;
  border-radius: 25px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.back-btn:hover {
  width: 100px;
  transition: all .3s ease-in-out;
}

@media screen and (max-width: 50em) {
  .details-name {
    font-size: 1.75em;
    margin: 0px 0px 2px 5px;
  }

  .details-container {
    flex-direction: column;
    justify-content: center;
    align-items: top;
    margin: 0% 1% 15% 1%;
  }

  .details-left-container {
    margin: 5% 0% 0% 0%;
    width: 100%;
  }

  .details-middle-container {
    margin: 5% 0% 0% 0%;
    width: 75%;
    margin: 5% 23% 0% 0%;
  }

  .details-right-container {
    margin-left: 2%;
    width: 98%;
  }
}

@media screen and (max-width: 35em) {
  .details-name {
    font-size: 1.75em;
    margin: 0px 0px 2px 5px;
  }

  .details-container {
    flex-direction: column;
    justify-content: center;
    align-items: top;
    font-size: .9em;
  }

  .details-image {
    height: 175px;
    width: 275px;
    margin: 0px 0px 0px 7px;
    cursor: pointer;
  }

  .details-middle-container {
    width: 92%;
    margin: 5% 5% 0% 3%;
  }

  .details-right-container {
    width: 92%;
    margin: 5% 5% 0% 3%;
  }
}